<div class="buttons">
  <button ion-button color="light">Inconsistentes</button>
  <button ion-button color="light">Todos</button>
</div>


<ion-grid>
  <ion-row>
    <ion-col>
      <ion-icon class="icons-px ionic-col-4" name="md-add-circle"></ion-icon>
    </ion-col>
    
    <ion-col>
      <ion-icon class="icons-px ionic-col-4" name="md-create"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="table">
  <ion-row class="table-header">

    <ion-col *ngFor="let header of headers" col-4>
      <ion-icon name="arrow-down"></ion-icon>{{header.title}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let dado of dados" col-4>{{dado}}</ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="table">
    <ion-row class="table-header">
  
      <ion-col col-4>
        
      </ion-col>
      <ion-col col-4>
        
        </ion-col>
        <ion-col col-4>
        
          </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4></ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>