sprints {
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
 
.table {
    .table-header {
        background-color: #CCCCCC;
        ion-col {
            ion-icon {
                margin-right: 5px
            }
        }
    }
    ion-col {
        border: 1px solid #666666;
    }
}

.row-summary {
    text-overflow: ellipsis;
}

.button-estimated-time {
    width: 100px;
}

.button-total-time {
    width: 100px;
}

.buttons-time {
    min-width: 205px;
}

.initials-name {
    min-width: 100px;
}