page-home {

}

.buttons {
    display: flex;
    justify-content: space-between;
}
 
.table {
    .table-header {
        background-color: #CCCCCC;
        ion-col {
            ion-icon {
                margin-right: 5px
            }
        }
    }
    ion-col {
        border: 1px solid #666666;
    }
}