<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>JIRAs existentes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Selecione um Projeto</ion-label>
    <ion-select [ngModel]="project" (ngModelChange)="onChange($event)">
      <ion-option *ngFor="let p of projects | async" [value]="p.get('id')">
        {{ p.get('name') }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let issue of issues | async">
      <ion-row>
        <ion-col>
          <button ion-button round>NA</button>
        </ion-col>
        <ion-col col-9>
          <ion-row>{{ issue.get('key') }}</ion-row>
          <ion-row>{{ issue.get('fields').get('summary') }}</ion-row>
        </ion-col>
        <ion-col col-1>
          <button ion-button color="dark">{{ getEstimatedTime(issue) }}</button>
        </ion-col>
        <ion-col col-1>
          <!-- TRABALHAR ESSA INFORMAÇÃO NO BACKEND -->
          <button ion-button color="secondary">6H</button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
