<ion-list radio-group [ngModel]="sprint" (ngModelChange)="onChange($event)">
    <ion-list-header>
        Selecione a Sprint
    </ion-list-header>
    
    <ion-item *ngFor="let s of sprints | async">
        <ion-label>{{ s.get('name') }}</ion-label>
        <ion-radio [value]="s.get('id')"></ion-radio>
    </ion-item>
    
    <ion-item *ngIf="count(sprints | async)">
        <span>
            Não existem sprints para esse projeto :(
        </span>
    </ion-item>

    <ion-item>
        <button ion-button (click)="onClose()" color="danger">Close</button>
    </ion-item>
</ion-list>